config service 'myservice'
#	option logfile 'logfile'
	option enabled '0'
	option server_name 'mqtt.example.com'
	option server_port '1883'
	option use_password '0'
	option username 'username'
	option password 'password'
	option update_interval '5'
	option mqtt_topic 'heartbeat'
	option mqtt_message 'heartbeat'
	option use_tls '0'
	option cafile '/path/to/ca'
	option capath '/etc/ssl/certs'
	option insecure '0'
	option http_enabled '0'
	option http_hostname 'heartbeat.example.com'
#	option http_port '80'
	option http_path '/update.action'
#	option http_id 'http_id'
	option http_token 'http_token'
#	option http_ssl_enabled '0'
#	option http_ssl_cafile '/path/to/ca'
#	option http_ssl_capath '/etc/ssl/certs'
#	option http_ssl_verify_client_enabled '0'
#	option http_ssl_verify_client_cert '/path/to/client_certificate'
#	option http_ssl_verify_client_key '/path/to/client_key'
