config service 'myservice'
	option enabled '0'
	option server_name 'mqtt.example.com'
	option server_port '1883'
	option use_password '0'
	option username 'username'
	option password 'password'
	option update_interval '5'
	option mqtt_topic 'heartbeat'
	option mqtt_message 'heartbeat'
	option use_tls '0'
	option cafile '/path/to/ca'
	option insecure '0'
