config service 'myservice'
#	option logfile 'logfile'
	option enabled '0'
#	option client_id 'hostname'
	option update_interval '5'
	option mqtt_enabled '0'
	option mqtt_hostname 'mqtt.example.com'
	option mqtt_port '1883'
#	option mqtt_id 'client_id'
	option mqtt_use_password '0'
	option mqtt_username 'username'
	option mqtt_password 'password'
	option mqtt_topic 'heartbeat'
	option mqtt_message 'heartbeat'
	option mqtt_use_tls '0'
	option mqtt_cafile '/path/to/ca'
	option mqtt_capath '/etc/ssl/certs'
	option mqtt_insecure '0'
	option http_enabled '0'
	option http_bin_type 'auto'
	option http_hostname 'heartbeat.example.com'
#	option http_port '80'
	option http_path '/update.action'
#	option http_id 'client_id'
	option http_token 'http_token'
#	option http_ssl_enabled '0'
#	option http_ssl_cafile '/path/to/ca'
#	option http_ssl_capath '/etc/ssl/certs'
#	option http_ssl_verify_client_enabled '0'
#	option http_ssl_verify_client_cert '/path/to/client_certificate'
#	option http_ssl_verify_client_key '/path/to/client_key'
